*{
    margin: 0;
    padding: 0;
}
.nav-container{
    display: flex;
    background-color: rgb(215, 212, 212);
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.nav-bar{
    display: flex;
    list-style: none;
    gap: 50px;
    font-size: 22px;
    font-weight: 600;
    font-family: Perpetua;
}
.nav-bar:hover{
    color: rgb(52, 245, 255);;
}
.nav-container-left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-text{
    font-weight: 700;
    font-size: 18px;
    text-align: right;
    color: rgb(52, 245, 255);
}
.section-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-image: url(../asset/image/background.jpg),linear-gradient(rgb(0,0,0,0.3),rgb(0,0,0,0.3));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    
}
.section-container-heading{
    font-size: 70px;
    font-weight: bolder;
    margin-bottom: 10px;
}
.primary{
    color: red;
}
.section-container-heading{
    color: white;
}
.section-container-paragraph{
    font-weight: 300;
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
}
.section-container-btn1{
    border: none;
    background-color: red;
    color: white;
    padding: 15px 35px;
    margin-right: 5px;
    font-size: 16px;
}
.section-container-btn2{
    border: none;
    padding: 15px 35px;
    margin-left: 5px;
    font-size: 16px;
}

/* jklhd;ks */
.section-banar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-image: url(../asset/image/footer-bg.png),linear-gradient(rgb(0,0,0,0.8),rgb(0,0,0,0.9));
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}
.logo{
    width: 90px;
    margin-top: 3px;
}
.box{
    text-align: center;
    width: 200px;
    height: 150px;
    padding: 50px;
    background-color: rgba(184, 179, 179, 0.684);
    color: rgba(112, 235, 231, 0.942);
    border-radius: 10px;
    margin-bottom: 10px;
    border: 2px solid rgba(112, 235, 231, 0.942);
}
.section-banar-right{
    display: flex;
    gap: 10px;
}
.section-banar-left{
    padding-left: 10px;
}
.btn{
    padding: 12px;
    width: 150px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 10px;
    border: none;
}
.btn1{
    color: rgb(177, 173, 173);
}
.section-banar-head{
    font-size: 40px;
    font-weight: 900;
    font-style: normal;
    margin-bottom: 15px;
}
.section-banar-paragraph{
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin-bottom: 25px;
}
.section-banar-list{
    font-weight: 600;
    font-size: 18px;
    color: white;
    margin-bottom: 45px;
}
.mukit{
    display: flex;
    align-items: center;
    gap: 200px;
    
}
.ceo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.pic{
    height: 75px;
    width: 75px;
    border-radius: 37.5px;
    border: 2px solid rgba(192, 188, 188, 0.913);
    
}
.pic-discription{
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family:sans-serif;
    border-right:2px solid red ;
    padding: 30px 50px 30px 0;
}
.pic-discription:hover{
    font-size: 23px;
    font-weight: 700;
    color: rgb(183, 116, 246);
}
.Director{
    font-size: 12px;
    color: rgb(161, 253, 69);
}
.ceo-btn{
    margin-left: -30%;
    padding: 12px;
    width: 150px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 10px;
    color: red;
    border: none;
}